body {
    text-align: center;
    background-color: beige;
    margin: 0; 
}

#general {
    margin-top: 50px;
    position: relative; 
}

#puntuacion {
    position: absolute;
    top: 10%;
    right: 25%;
    font-size: 18px;
}

#rojo {
    background-color: red;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}

#amarillo {
    background-color: yellow;
}

.color {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: none;
    margin: 15px;
}

#empezar {
    background-color: cadetblue;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
}

#empezar:hover {
    background-color: black;
    color: white;
}

#reglas {
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 50px;
}

#reglas:hover {
    background-color: antiquewhite;
    color: black;
}

p {
    margin: 0 auto;
    background-color: darkgrey;
    width: 25%;
    align-content: center;
    padding: 10px;
}

#contenedorReglas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
}

#titulo {
    border: none;
    background: none;
    font-size: 33px;
}

a {
    text-decoration: none;
    color: black;
    cursor: default;
}
